PORT=5000
MONGODB_URI=mongodb+srv://abdisaawel313_db_user:a0tDvTWsVKtul3F2@cluster0.7zcvube.mongodb.net/?appName=Cluster0
JWT_SECRET=
GEMINI_API_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CORS_ORIGIN=http://localhost:5173
