PORT=5000
MONGODB_URI=mongodb+srv://abdisaawel313_db_user:a0tDvTWsVKtul3F2@cluster0.7zcvube.mongodb.net/?appName=Cluster0
JWT_SECRET=d06364a56cb896d85f53d16820d63016dbfdee0d5f0a11cd111267f3e49cb6bf9d1a2c4639b60e450bb5fae1f6a76adf
GEMINI_API_KEY=AIzaSyA0EP15582rn1rsvE8quDPHPYQVFetfxn4
CLOUDINARY_CLOUD_NAME=divkrnd4j
CLOUDINARY_API_KEY=216195434442844
CLOUDINARY_API_SECRET=**********
CORS_ORIGIN=http://localhost:5173
